/* 
    <audio> label rewrite
*/

audio {
    /* height: 100px; */
    width: 300px; /* 設置音樂播放器的寬度 */
    outline: none;
    border: 1px solid rgba(101, 250, 255, 0.783);
    border-radius: 5px;
}

/* audio::-webkit-media-controls-panel {
    background-color: rgba(0, 213, 255, 0.515);
} */

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button {
    /* background-color: none; */
    border-radius: 50%;
}

audio::-webkit-media-controls {
    background: rgba(227, 249, 253, 0.515);
    /* background: none; */
    backdrop-filter: blur(10px);
}

audio::-webkit-media-controls-enclosure {
    background: none;
    border-radius: 1px;
}

/* audio::-webkit-media-controls-play-button {
    display:none;
} */

audio::-webkit-media-controls-timeline {
    /* display:none; */
}

audio::-webkit-media-controls-volume-slider {
    /* display:none; */
}

audio::-webkit-media-controls-mute-button {
    /* display:none; */
}

audio::-webkit-media-controls-panel {
    /* display: none; */
}
