html {
    /* filter: grayscale(100%);  */ /*網頁黑白備用*/
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(../res/image/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* overflow-y: scroll; */
}

/* 滾動條 */
/* Webkit（Chrome、Safari）滾動條 */
::-webkit-scrollbar {
    width: 10px; /* 寬度 */
  }
  
::-webkit-scrollbar-track {
    /* background-color: #f1f1f1; 軌道背景顏色 廢棄 */
}
  
::-webkit-scrollbar-thumb {
    background-color: rgba(120, 212, 255, 0.3); /* 滑塊顏色 */
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(120, 212, 255, 1.0); /* 懸停顏色 */
}