#dock {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 50%;
    /* left: -200px; */
    right: -80px;
    width: 55px;
    height: 400px;
    background-color: #c4c4c495;
    transition: right 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 7;
    transform: translateY(-50%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Webkit like Safari etc. */
    border-radius: 15px;
    padding: 0 5px 5px 5px;
    box-sizing: border-box;
}

#dock > button {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    width: 48px;
    height: 48px;
    border-radius: 15px;
    border: none;
    background: rgba(135, 135, 135, 0.5);
    transition: background 0.3s;
    transform: scale(1);
}

#dock > button:hover {
    background: rgba(75, 181, 252, 0.918);
    box-shadow: 0 0 5px 5px rgba(75, 181, 252, 0.5);
}

#dock > button:active {
    transform: scale(0.87);
    transition: transform 0.3s;
}

#dock > button > img {
    width: 25px;
}

#dock > hr {
    border: 1px solid rgba(144, 144, 144, 0.575);
    width: 80%;
}

#settings {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    background: rgba(255, 255, 255, 0.738);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Webkit like Safari etc. */
    z-index: 6;
    box-sizing: border-box;
    padding: 5px 20px 5px 30px;
    border-radius: 15px;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 50%;
    border: none;
    font-size: x-large;
    background: none;
}

#sub-setting {
    margin-top: 10px;
    width: 100%;
    height: calc(80% - 35px);
    border-radius: 15px;
    background: rgba(220, 220, 220, 0.7);
    border: 1px solid rgba(165, 165, 165, 0.5);
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#sub-line {
    width: 100%;
}

#sub-setting > ul {
    /* border-bottom: 1px solid rgba(165, 165, 165, 0.5); */
}

#sub-setting > ul > li {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(165, 165, 165, 0.5)
}

#sub-setting > ul > li > span {
    width: 20%;
    font-size: 14px;
}

#sub-setting > ul > li > div {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: end;
    box-sizing: border-box;
    padding-right: 40px;
}

#sub-setting > ul > li > div > input[type="range"] {
    width: 200px;
}