.mainbox {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 40px;
    width: 80%;
    margin-top: 10px;
    height: 90%;
    border: 1px solid rgba(0, 213, 255, 0.904);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.232);
    backdrop-filter: blur(10px);
    overflow-y: scroll;
}