.mainbox {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    margin-top: 10px;
    height: 90%;
    overflow-y: scroll;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    z-index: 4;
}

.leftbox {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    top: 60%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 300px;
    margin-top: 10px;
    height: 75%;
    border: 1px solid rgba(0, 213, 255, 0.904);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.652);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Webkit like Safari etc. */
    padding: 100px 20px 20px 20px;
    color: rgb(74, 74, 74);
    box-sizing: border-box;
    z-index: 4;
}

.headicon {
    position: absolute;
    top: -75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.leftbox > p {
    width: 70%;
    text-align: center;
    font-size: small;
}

.leftbox > span > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.leftbox > ul {
    list-style-type: none;
    padding: 0;
}

.leftbox > ul > li {
    margin-bottom: 10px;
}

.leftbox > ul > li > span > a {
    position: relative;
    text-decoration: none;
    color: rgb(0, 190, 207);
    margin-left: 10px;
}

.leftbox > ul > li > span > a:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    background-color: #00ffe1;
}

.leftbox > ul > li > span > a:hover:after {
    width: 100%;
    left: 0;
}

li > span > img {
    vertical-align: middle;
    margin-right: 5px;
}

.rightarea {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    right: 20px;
    left: calc(60% + 400px); /* 與左邊的距離是 .mainbox 的 left + mainbox 的 width + 20px */
    height: 90%;
    width: auto;
    margin-top: 10px;
    overflow-y: scroll;
    border-radius: 5px;
    z-index: 5;
}

.rightarea > div {
    width: 95%;
    margin-top: 20px;
    border: 1px solid rgba(49, 255, 241, 0.726);
    border-radius: 5px;
    flex-grow: 0;
    flex-shrink: 0;
}

#mainbox2, #mainbox3, #mainbox4, #mainbox5 {
    display: none;
    transition: 0.3s;
}

#mainbox1 {
    border: 1px solid rgba(0, 213, 255, 0.904);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.652);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Webkit like Safari etc. */
}

#mainbox2 {
    padding-top: 10%;
}

#mainbox2 > h1 {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8cecf3fe;
}

#mainbox2 > input {
    width: 60%;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(172, 172, 172, 0.556);
    /* border-style: none; */
    border-radius: 50px;
    backdrop-filter: blur(500px);
    -webkit-backdrop-filter: blur(10px); /* Webkit like Safari etc. */
    padding: 0 20px 0 20px;
    font-size: large;
    color: rgb(81, 81, 81);
    transition: border-radius 0.1s;
}

#mainbox2 > input:focus {
    outline: none;
    border: 3px solid rgba(35, 168, 221, 0.599);
    border-radius: 15px;
    /* transition: 0.1s; */
}

@media (max-width: 1520px) {
    .rightarea {
        display: none;
    }

    .mainbox {
        width: 90%;
        left: 60%;
        transform: translate(-50%, 0);
        top: 10%;
        height: 87%;
    }

    .mainbox {
        width: 60%;
    }

    .leftbox {
        left: 15%;
        width: 300px;
    }
}

@media (max-width: 1010px) {
    .leftbox {
        display: none;
    }

    .mainbox {
        width: 90%;
        left: 50%;
        transform: translate(-50%, 0);
        top: 10%;
        height: 87%;
    }
}

/*Music Player*/

.musicplayer {
    background: rgba(255, 255, 255, 0.551);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Webkit like Safari etc. */
}

/* Debug Box */

.debugbox {
    width: 95%;
    height: max-content;
    background: rgba(255, 255, 255, 0.551);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Webkit like Safari etc. */
    border: 1px solid rgba(49, 255, 241, 0.726);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    overflow: hidden;
}

/*Control Panel*/

.controlpel {
    width: 95%;
    height: 400px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Webkit like Safari etc. */
    border: 1px solid rgba(49, 255, 241, 0.726);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.controlpel > input[type="range"] {
    position: relative;
    margin-left: -100px;
    margin-top: 140px;
    writing-mode: bt-lr;
    transform: rotate(270deg);
    width: 250px;
}

/* Twitter Circle */

.twittercircle {
    margin-top: 20px;
    width: 95%;
    background: rgba(255, 255, 255, 0.232);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Webkit like Safari etc. */
    border: 1px solid rgba(49, 255, 241, 0.726);
    border-radius: 5px;
}

.twittercircle > img {
    width: 100%;
    height: 100%;
}

.comments {
    background: rgba(255, 255, 255, 0.551);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Webkit like Safari etc. */
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
}