.mainbox > span {
    width: 100%;
}

pre {
    width: 100%;
    height: min-content;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.9);
    box-sizing: border-box;
    line-height: 100%;
    white-space: pre;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    background: rgba(0,0,0,0.4);
    /* overflow-x: scroll; */
    /* overflow-y: scroll; */
    counter-reset: line;
    /* text-align: center; */
}

pre > code {
    /* position: relative; */
    /* margin-left: -50px; */
    width: 100%;
    height: auto;
    border-radius: 7px;
    color: rgba(255,255,255,0.9);
    box-sizing: border-box;
    line-height: 150%;
    overflow-x: scroll;
    overflow-y: scroll;
    counter-increment: line;
}

pre > code:before {
    /* content: counter(line);
    font-family: "SimHei", "黑体", sans-serif;
    display: inline-block;
    width: 1em;
    border-right: 1px solid rgba(255,255,255,0.9);
    line-height: 200%;
    padding-right: 0.5em;
    margin-right: 0.5em;
    color: rgba(153, 153, 153, 1); */
}