<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/default.css">
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/header.css">
        <link rel="stylesheet" href="/static/css/audio.css">
        <link rel="stylesheet" href="/static/css/searchbox.css">
        <script src="../static/js/check.js"></script>
        <title>小圆帽の墓誌銘</title>
    </head>
    <body>
        <div id="logo">
            <img id="logoImg" src="/static/res/image/Wanderer.jpg" alt="蹦蹦小圓帽">
        </div>
        <header id="header">
            <h2>小圆帽の墓誌銘</h2>
            <!-- 搜索欄 -->
            <div class="searchBar">
                <input type="text" id="search" placeholder="Search" autocomplete="false">
            </div>
            <!-- 語言欄 -->
            <div class="lang">
                <img th:src="@{/static/res/image/flags/__${lang}__.jpg}">
            </div>
            <script src="/static/js/header.js"></script>
        </header>
        <!-- <div id="fpsDisplay">FPS: <span id="fpsCounter">0</span></div> -->
        <!-- <script src="../static/js/fps.js"></script> -->
        <!-- <h1>Language: <span th:text="${lang}"></span></h1> -->
        <div class="leftbox">
            <img src="../static/res/image/Wanderer.jpg" class="headicon">
            <h2>蹦蹦小圆帽</h2>
            <span>彼陽若至，初升東曦</span>
            <ul>
                <li>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 273.5 222.3" role="img"
                         aria-labelledby="amoo0h1ju6fi7kpo518dmflsnh11jshk" class="octicon" width="16" height="16">
                            <title id="amoo0h1ju6fi7kpo518dmflsnh11jshk">Twitter</title>
                            <path d="M273.5 26.3a109.77 109.77 0 0 1-32.2 8.8 56.07 56.07 0 0 0 
                            24.7-31 113.39 113.39 0 0 1-35.7 13.6 56.1 56.1 0 0 0-97 38.4 54 54
                             0 0 0 1.5 12.8A159.68 159.68 0 0 1 19.1 10.3a56.12 56.12 0 0 0 17.4
                              74.9 56.06 56.06 0 0 1-25.4-7v.7a56.11 56.11 0 0 0 45 55 55.65 55.65
                               0 0 1-14.8 2 62.39 62.39 0 0 1-10.6-1 56.24 56.24 0 0 0 52.4 39 112.87
                                112.87 0 0 1-69.7 24 119 119 0 0 1-13.4-.8 158.83 158.83 0 0 0 86 25.2c103.2
                                 0 159.6-85.5 159.6-159.6 0-2.4-.1-4.9-.2-7.3a114.25 114.25 0 0 0 28.1-29.1" fill="currentColor">
                                </path>
                            </svg>
                            <a href="https://twitter.com/z3k5x">@z3k5x</a>
                    </span>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.3 15.4" role="img"
                     aria-labelledby="a1wawvgekrxrv9hh2zjmw2db81v6cbbu" class="octicon" width="16" height="16">
                        <title id="a1wawvgekrxrv9hh2zjmw2db81v6cbbu">Facebook</title>
                        <path d="M14.5 0H.8a.88.88 0 0 0-.8.9v13.6a.88.88 0 0 0 .8.9h7.3v-6h-2V7.1h2V5.4a2.87
                            2.87 0 0 1 2.5-3.1h.5a10.87 10.87 0 0 1 1.8.1v2.1h-1.3c-1 0-1.1.5-1.1 1.1v1.5h2.3l-.3
                            2.3h-2v5.9h3.9a.88.88 0 0 0 .9-.8V.8a.86.86 0 0 0-.8-.8z" fill="currentColor">
                        </path>
                    </svg>
                </li>
                <li>
                                       
                </li>
            </ul>
        </div>
        <div class="mainbox">
            <h3>Language: <span th:text="${lang}"></span></h3>
            <h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1>
            <h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1>
            <h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1>
            <h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1>
            <h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1>
            <p>111111</p>
        </div>
        <div class="rightarea">
            <div class="musicplayer">
                <audio controls>
                    <source th:src="@{../static/res/music/music.mp3}" type="audio/mpeg">
                </audio>
                <!-- <a href="#" th:data-audio="${audioFile}" onclick="loadAudio(this)">Play</a> -->
                <script src="/static/js/index/ajax_music.js"></script>
            </div>
            <div class="twittercircle">
                <img src="/static/res/image/TwitterCircle.jpg">
            </div>
        </div>

        <!-- 一些奇怪功能？ -->
        <div id="searchbox">
            <input type="text" id="searchbox_cont" placeholder="Search...">
            <script src="/static/js/searchbox.js"></script>
        </div>
    </body>
</html>
