<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/default.css">
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/header.css">
        <link rel="stylesheet" href="/static/css/audio.css">
        <link rel="stylesheet" href="/static/css/searchbox.css">
        <link rel="stylesheet" href="/static/css/mainbox.css">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="../static/js/check.js"></script>
        <title>小圆帽の墓誌銘</title>
    </head>
    <body>
        <div id="logo">
            <img id="logoImg" src="/static/res/image/Wanderer.jpg" alt="蹦蹦小圓帽">
        </div>
        <header id="header">
            <h2>小圆帽の墓誌銘</h2>
            <!-- 搜索欄 -->
            <div class="searchBar">
                <input type="text" id="search" placeholder="Search" autocomplete="false">
            </div>
            <!-- 語言欄 -->
            <div class="lang">
                <img th:src="@{/static/res/image/flags/__${lang}__.jpg}">
            </div>
            <script src="/static/js/header.js"></script>
        </header>
        <!-- <div id="fpsDisplay">FPS: <span id="fpsCounter">0</span></div> -->
        <!-- <script src="../static/js/fps.js"></script> -->
        <!-- <h1>Language: <span th:text="${lang}"></span></h1> -->
        <div class="leftbox">
            <img src="../static/res/image/Wanderer.jpg" class="headicon">
            <h2>蹦蹦小圆帽</h2>
            <span>彼陽若至，初升東曦</span>
            <ul>
                <li>
                    <span>
                        <img src="/static/res/image/icons/Twitter.svg" width="16">
                        <a href="https://twitter.com/z3k5x">@z3k5x</a>
                    </span>
                </li>
                <li>
                    <span>
                        <img src="/static/res/image/icons/Facebook.svg" width="16">
                        <a href="https://www.facebook.com/profile.php?id=100094728057019&mibextid=LQQJ4d">蹦蹦小圆帽</a>
                    </span>
                </li>
                <li>
                    <span>
                        <img src="/static/res/image/icons/Discord.svg" width="16">
                        <a href="https://discordapp.com/users/915092925355020289">zatttzas</a>
                    </span>
                </li>
                <li>
                    <span>
                        <img src="/static/res/image/icons/QQ.svg" width="15">
                        <a href="https://qm.qq.com/q/rhqwgKfMre">root@kali</a>
                    </span>
                </li>
            </ul>
            <span>測試</span>
            <a href="/markdown/load?p=test" id="loadMarkdownLink">測試連結</a>
        </div>
        <div class="mainbox" id="mainbox">
            <!-- <h3>Language: <span th:text="${lang}"></span></h3> -->
            <span id="mdcont" th:fragment="mdcont"  th:utext="${markdownHtml}"></span>
        </div>
        <script src="/static/js/index/markdown.js"></script>
        <div class="rightarea">
            <div class="musicplayer">
                <audio controls>
                    <source th:src="@{/static/res/music/music.mp3}" type="audio/mpeg">
                </audio>
                <!-- <a href="#" th:data-audio="${audioFile}" onclick="loadAudio(this)">Play</a> -->
                <script src="/static/js/index/ajax_music.js"></script>
            </div>
            <div class="twittercircle">
                <img src="/static/res/image/TwitterCircle.jpg">
            </div>
        </div>

        <!-- 一些奇怪功能？ -->
        <div id="searchbox">
            <input type="text" id="searchbox_cont" placeholder="Search...">
            <script src="/static/js/searchbox.js"></script>
        </div>
    </body>
</html>
