<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/default.css">
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/header.css">
        <script src="../static/js/check.js"></script>
        <title>小圆帽の墓誌銘</title>
    </head>
    <body>
        <div id="logo">
            <img id="logoImg" src="/static/res/image/Wanderer.jpg" alt="蹦蹦小圓帽">
        </div>
        <header id="header">
            <h2>小圆帽の墓誌銘</h2>
            <a href="#" th:text="${HOME}"></a>
            <a href="#" th:text="Archive"></a>
             
            <!-- 搜索欄 -->
            <div class="searchBar">
                <input type="text" id="search" placeholder="Search" autocomplete="false">
            </div>
            <!-- 語言欄 -->
            <div class="lang">
                <img th:src="@{/static/res/image/flags/__${lang}__.jpg}">
            </div>
            <script src="/static/js/header.js"></script>
        </header>
        <!-- <div id="fpsDisplay">FPS: <span id="fpsCounter">0</span></div> -->
        <!-- <script src="../static/js/fps.js"></script> -->
        <!-- <h1>Language: <span th:text="${lang}"></span></h1> -->
        <div class="leftbox">
            <img src="../static/res/image/Wanderer.jpg" class=".headicon">
        </div>
        <div class="mainbox">
            <h3>Language: <span th:text="${lang}"></span></h3>
            <h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1>
            <h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1>
            <h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1>
            <h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1>
            <h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1><h1>TEST</h1>
            <p>111111</p>
        </div>
        <div class="rightarea"></div>
    </body>
</html>
